name: transit_pro
description: "Student Transport Management App - Safe Journeys, Happy Kids, Peace of Mind"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.9

dependencies:
  flutter:
    sdk: flutter
  go_router: ^14.0.0
    
dev_dependencies:
  flutter_test:
    sdk: flutter
    
  flutter_lints: ^6.0.0
  
flutter:
  uses-material-design: true
